@font-face {
	font-family: 'Founders';
	src: url('FoundersGrotTest-Bold.woff') format('woff');
}

body {
	padding: 0;
	margin: 0;
	font-family: Sans-Serif;
}

a {
	color: inherit;
	text-decoration: none !important;
}

a:hover {
	color: blue;
}

#container {
	margin: 50px auto;
	max-width: 280px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 50px auto;
}

form {
	width: 200px;
	padding: 20px 0;
}

h1 {
	font-family: 'Founders';
	font-size: 30px;
	letter-spacing: 0px;
	/*
	font-feature-settings: inherit;
	font-variant: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	*/
}

p {
	font-family: 'Karla';
	line-height: 1.625;
	letter-spacing: -0.25px;
	/* 
	font-feature-settings: inherit;
	font-kerning: inherit;
	font-size: inherit;
	font-variant: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	*/
}

@media screen and (min-width: 768px) {
	#container {
		max-width: 668px;
	}
	h1 {
		font-size: 48px;
		line-height: 1.125;
	}
	p {
		font-size: 20px;
		line-height: 1.6;
	}
	.form-container {
		flex-direction: row;
	}
}

@media screen and (min-width: 1024px) {
	#container {
		max-width: 918px;
	}
	h1 {
		font-size: 48px;
	}
	p {
		font-size: 20px;
	}
}
